.App {
  text-align: center;
  width: 100%;
}

#navContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 5px;
}

#hamburgerMenu {
  cursor: pointer;
}

#createTodoContainer {
  display: flex;
  justify-content: center;
  padding: 25px;
}

#createTodoForm {
  display: flex;
  justify-content: center;
}

.todoCreatorInput {
  cursor: pointer;
}

.todoUl {
  list-style: none;
  min-height: 650px;
}

.highPriority {
  cursor: pointer;
  color: red;
}

.medPriority {
  cursor: pointer;
  color: yellow;
}

.lowPriority {
  cursor: pointer;
  color: green;
}