.App {
  text-align: center;
  width: 100%;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 15px;
}

.navLeft {
  position: relative;
  float: left;

  /* width: 100%; */
}

.navright {
  position: relative;
  float: right;

}